/* /styles/background.module.css */

.background {
  min-height: 100vh;
  background-image: url('/image_page1.png'); /* met l'image dans public/ */
  background-repeat: repeat-y; /* Répétition verticale */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.blurOverlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(8px); /* Applique un flou */
  background-color: rgba(0, 0, 0, 0.4); /* Couleur sombre avec transparence */
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
}
